@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

html {
  box-sizing: border-box;

  font-size: 100%;

  // Responsive font for content
  @include fluid-type($min-width, $max-width, $min-font, $max-font);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;

  color: black;
  background-color: $porcelain;

  font-family: "Ubuntu", sans-serif;

  //  Disables user text selection
  @include prefix(user-select, none, webkit moz ms);
  -webkit-touch-callout: none; // iOS Safari
}

h1 {
  font-size: $mod-1 * $mod-1 * $mod-1 * $mod-1 * 1rem;

  // Responsive font for headers
  @include fluid-type(
    $min-width,
    $max-width,
    $mod-1 * $mod-1 * $mod-1 * $min-font,
    $mod-2 * $mod-2 * $mod-2 * $min-font
  );
}

h2 {
  color: $jet-stream;
  text-shadow: 3px 3px 5px black;

  font-size: $mod-1 * $mod-1 * $mod-1 * 1rem;

  // Responsive font for headers
  @include fluid-type(
    $min-width,
    $max-width,
    $mod-1 * $mod-1 * $mod-1 * $min-font,
    $mod-2 * $mod-2 * $mod-2 * $min-font
  );
}

h3 {
  font-size: $mod-1 * $mod-1 * 1rem;

  // Responsive font for headers
  @include fluid-type($min-width, $max-width, $mod-1 * $mod-1 * $min-font, $mod-2 * $mod-2 * $min-font);
}

h1,
h2,
h3,
footer,
label,
p,
ul {
  text-align: center;
}

// Reset list
ul {
  margin: 0;
  padding: 0;

  list-style: none;
}
