@use "../helpers" as *;

html {
    box-sizing: border-box;
    font-size: 100%;
    // Responsive font for content
    @include fluid-type($min-width, $max-width, $min-font, $max-font);
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: $porcelain;
    color: black;
    font-family: "Ubuntu", sans-serif;
    margin: 0;
    padding: 0;

    // Disables user text selection
    // iOS Safari
    -webkit-touch-callout: none;
    @include prefix(user-select, none, webkit moz ms);
}

h1 {
    // Responsive font for headers
    font-size: $mod-1 * $mod-1 * $mod-1 * $mod-1 * 1rem;

    @include fluid-type($min-width,
        $max-width,
        $mod-1 * $mod-1 * $mod-1 * $min-font,
        $mod-2 * $mod-2 * $mod-2 * $min-font );
}

h2 {
    // Responsive font for headers
    color: $jet-stream;
    font-size: $mod-1 * $mod-1 * $mod-1 * 1rem;
    text-shadow: 3px 3px 5px black;

    @include fluid-type($min-width,
        $max-width,
        $mod-1 * $mod-1 * $mod-1 * $min-font,
        $mod-2 * $mod-2 * $mod-2 * $min-font );
}

h3 {
    // Responsive font for headers
    font-size: $mod-1 * $mod-1 * 1rem;

    @include fluid-type($min-width, $max-width, $mod-1 * $mod-1 * $min-font, $mod-2 * $mod-2 * $min-font);
}

h1,
h2,
h3,
footer,
label,
p,
ul {
    text-align: center;
}

// Reset list
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}