// colors
$porcelain: hsl(180, 12%, 97%);
$zuma-beach: hsl(197, 100%, 69%);
$jet-stream: hsl(171, 25%, 80%);
$curious-blue:  hsl(204, 72%, 45%);

// font
$min_width: 320px;
$max_width: 1200px;
$min_font: 16px;
$max_font: 24px;
$mod_1: 1.2; // mobile
$mod_2: 1.5; // desktop