// Colors
$porcelain: hsl(180, 12%, 97%);
$zuma-beach: hsl(197, 100%, 69%);
$jet-stream: hsl(171, 25%, 80%);
$curious-blue: hsl(204, 72%, 45%);

$warning-background: hsl(0, 80%, 94%);
$warning-border: hsl(359, 91%, 87%);
$error: hsl(0, 100%, 30%);

// Font
$min-width: 320px;
$max-width: 1700px;
$min-font: 16px;
$max-font: 24px;
$mod-1: 1.2; // mobile
$mod-2: 1.5; // desktop

// Breakpoints map used with mixin respond-to($breakpoints)
$breakpoints: (
        'very-small': (
                min-width: 468px,
        ),
        'small': (
                min-width: 768px,
        ),
        'medium': (
                min-width: 1024px,
        ),
        'large': (
                min-width: 1440px,
        ),
        'huge': (
                min-width: 1700px,
        ),
);
