/* input & output */
.wrapper {
    width: 100%;
}

/* makes input and output area distinguish and more visible */
.output-wrapper, .input-wrapper {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    background-color: rgb(99, 210, 255);
    padding: 2rem;
    box-shadow: rgb(190, 216, 212) 0 4px 8px;
    margin-top: 3rem;
}

label {
    margin-bottom: .5rem;
    font-weight: bold;
}

button[type="button"] {
    margin-top: .7rem;
    padding: .7rem 2rem;
    background-color: rgb(32, 129, 195);
    border: 4px solid rgb(32, 129, 195);
    color: rgb(247, 249, 249);
    font-weight: bold;
    outline: none;
    cursor: pointer;
}

button:active {
    outline: none;
}

#input {
    padding: .7rem;
    border: 4px solid rgb(32, 129, 195);
    border-radius: 2px;
}

#input:focus, #output:focus {
    outline: none;
    border: 4px solid rgb(190, 216, 212);

}

#output {
    display: inline-block;
    width: 20rem;
    padding: .7rem;
    background-color: rgb(247, 249, 249);
    border: 4px solid rgb(32, 129, 195);
    color: rgba(0, 0, 0, .7);
}

@media only screen and (min-width: 768px) {
    .wrapper {
        max-width: 40rem;
    }
}

@media only screen and (min-width: 1024px) {
    .output-wrapper {
        flex-flow: row wrap;
    }

    label[for="output"] {
        width: 100%;
        text-align: center;
    }

    .output-wrapper button[type="button"] {
        margin: 0;
    }
}

/* behaviour for pointers */
@media (hover: hover) {
    button[type="button"] {
        opacity: .8;
    }

    button[type="button"]:hover {
        opacity: 1;
    }
}
