@import "app-wrapper.css";

.container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: 1.7rem 0;
}

.container h2 {
    margin-bottom: 2rem;
    color: rgb(190, 216, 212);
    text-shadow: 3px 3px 5px rgb(0, 0, 0);
}

.instruction {
    list-style: square;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.info {
    text-align: center;
}

@media only screen and (min-width: 468px) {
    .container {
        margin: 0 18%;
    }
}

@media only screen and (min-width: 1024px) {
    .info {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .info li {
        max-width: 30rem;
    }
}


