@use '../abstracts/mixins' as *;

.instruction {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.app-usage {
  @include respond-to('small') {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  li {
    max-width: 30rem;
  }
}

