@use "../abstracts/variables" as *;
@use "../abstracts/placeholders" as *;

.input-wrapper {
  @extend %wrapper;
}

.input-wrapper {
  input {
    // Turn off system deafult styling
    -webkit-appearance: none;
    appearance: none;

    padding: 0.7rem;

    border: 4px solid $curious-blue;
    border-radius: 2px;

    // This is our style for the invalid fields
    &:invalid {
      // change this styling
      border-color: #900;
      background-color: #fdd;
    }

    &:focus {
      border: 4px solid $jet-stream;
      outline: none;
    }

    &:focus:invalid {
      outline: none;
    }
  }
}

// Error Tool Tip Styles 
.error {
  // Font 
  font-family: Helvetica;
  font-size: 13px;
  font-weight: bold;
  color: #cc0033;
  line-height: 20px;
  // Background 
  background-color: #fce4e4;
  border: 1px solid #fcc2c3;
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  // Positioning 
  float: left;
  position: relative;
  padding: 7px 11px 4px;
  visibility: hidden;
  margin-top: 10px; // Distance between error tip and element it points to 
  min-height: 1.5rem;

  // Left Arrow Styles 
  &:after,
  &:before {
    content: "";
    border: 7px solid transparent;
    position: absolute;
    top: -13px;
  }

  &:after {
    border-bottom: 7px solid #fce4e4;
    left: 50%;
  }

  &:before {
    border-bottom: 7px solid #fcc2c3;
    left: 50%;
  }
}
// Show error message
.error.active {
  visibility: visible;
}
