@use '../helpers' as *;
@use '../helpers/placeholders' as *;

.input-wrapper
{
    @extend %wrapper;
}

.input-wrapper
{
    input
    {
        padding: .7rem;  border: 4px solid $curious-blue;  border-radius: 2px; // Turn off system deafult styling  -webkit-appearance: none;                    appearance: none;
        // This is our style for the invalid fields
        &:invalid
        {
            // change this styling
            border-color: $error;  background-color: $warning-background;
        }

        &:focus
        {
            border: 4px solid $jet-stream;  outline: none;
        }

        &:focus:invalid
        {
            outline: none;
        }
    }
}

// Error Tool Tip Styles
.error
{
    // Font
    font-family: Helvetica;  font-size: 13px;  font-weight: bold;  line-height: 20px;  position: relative;  visibility: hidden; // Positioning   float: left;  margin-top: 10px; // Distance between error tip and element it points to   padding: 7px 11px 4px;  color: #c03;  border: 1px solid $warning-border;  -webkit-border-radius: 7px;        -moz-border-radius: 7px;                  border-radius: 7px;// Background   background-color: $warning-background;
    // Left Arrow Styles
    &:after,
    &:before
    {
        position: absolute;  top: -13px;  content: '';  border: 7px solid transparent;
    }

    &:after
    {
        left: 50%;  border-bottom: 7px solid $warning-background;
    }

    &:before
    {
        left: 50%;  border-bottom: 7px solid $warning-border;
    }
}
// Show error message
.error.active
{
    visibility: visible;
}
