@use '../abstracts/variables' as *;
@use '../abstracts/placeholders' as *;

.input-wrapper {
  @extend %wrapper;
}

.input-wrapper {
  input {
    padding: 0.7rem;

    border: 4px solid $curious-blue;
    border-radius: 2px;

    &:focus {
      border: 4px solid $jet-stream;
      outline: none;
    }
  }
}
