@use "../helpers" as *;
@use "../helpers/placeholders" as *;

.output-wrapper {
    @extend %wrapper;
    @include respond-to("medium") {
        flex-flow: row wrap;

        label[for="output"] {
            width: 100%;
        }

        button[type="button"] {
            margin: 0;
        }
    }
}

.output-wrapper {
    output {
        background-color: $porcelain;
        border: 4px solid $curious-blue;

        color: hsla(0, 0%, 0%, 0.7);
        display: inline-block;
        margin-right: 0.2rem;
        min-height: 3.2rem;
        padding: 0.7rem; 
        -webkit-touch-callout: text; // iOS Safari 
        width: 20rem;
        
        @include prefix(user-select, text, webkit moz ms);
        &:focus {
            border: 4px solid $jet-stream;
            outline: none;
        }
    }
}
