@use '../helpers' as *;
@use '../helpers/placeholders' as *;

.output-wrapper
{
    @extend %wrapper;
    @include respond-to('medium')
    {
        flex-flow: row wrap;

        label[for='output']
        {
            width: 100%;
        }

        button[type='button']
        {
            margin: 0;
        }
    }
}

.output-wrapper
{
    output
    {
        display: inline-block;

        width: 20rem;
        min-height: 3.2rem;
        margin-right: .2rem;
        padding: .7rem;

        color: hsla(0, 0%, 0%, .7);
        border: 4px solid $curious-blue;
        background-color: $porcelain;

        @include prefix(user-select, text, webkit moz ms); // iOS Safari  -webkit-touch-callout: text;
        &:focus
        {
            border: 4px solid $jet-stream;
            outline: none;
        }
    }
}
