@use './src/sass/abstracts/variables' as *;

/* social media */
footer {
    margin-top: 4rem;
}

footer p {
    color: $jet-stream;
}

.social-media {
    display: flex;flex-flow: row nowrap;justify-content: center;margin: 0;padding: 0; /* remove padding-inline-start */list-style: none;
    }

.social-media li {margin: 1rem;padding: .4rem;transition: .2s all ease-out;white-space: nowrap; /* because only the first line is indented */text-indent: -9999px; /* sends the text off-screen. keep text for accessibility purpose */border: none;
    }

.social-media a {
    /* display block and height 100% makes anchor clickable  */
    display: block;width: 2rem;height: 2rem;outline: none; /* removes outlines which show when i click on link */background: center / contain no-repeat;
    }

.social-media li:hover {border-radius: .3125rem;box-shadow: 0 .125rem 2px $curious-blue,
    0 -.125rem .125rem $curious-blue,
    .125rem 0 .125rem $curious-blue,
    -.125rem 0 .125rem $curious-blue;
    }

.social-media li:nth-child(1) a {
    background-image: url('assets/images/linkedin.png');
}

.social-media li:nth-child(2) a {
    background-image: url('assets/images/github.png');
}

.social-media li:nth-child(3) a {
    background-image: url('assets/images/facebook.png');
}

.social-media li:nth-child(4) a {
    background-image: url('assets/images/instagram.png');
}