@use "../helpers" as *;

.heading {
    color: $jet-stream;
    letter-spacing: 0.2rem;
    text-shadow: -1px 1px 0 $curious-blue, 1px 1px 0 $curious-blue, 1px -1px 0 $curious-blue, -1px -1px 0 $curious-blue;
    text-transform: uppercase;
}
