@use "../helpers" as *;

.container {
    align-items: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: center; 
    margin: 1.7rem 0.6rem;

    @include respond-to("small") {
        margin: 0 18%;
    }
}
